@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");

html,
body {
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0%;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, */
  /* Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Otomanopee One", sans-serif;
  background-color: #1c1a2b;
  overflow-x: hidden;
}

.jeopardy__scores {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  color: white;
  width: 60%;
  margin-bottom: 1.4rem;
  margin-top: 1.3rem;
}
.jeopardy__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  color: white;
  background-color: #252d3e;
  width: 20vw;
  border-radius: 0.6rem;
  justify-content: space-between;
  box-shadow: 0rem 0.2rem 1rem 0 #303030da, 0rem -0.2rem 0.5rem 0 #303030da;
  /* border: 0.1rem solid #d7c458; */
  position: relative;
  /* z-index: 3; */
}
/* .jeopardy__score::before{
  content: "";
  background: conic-gradient(
    #d7c458 20deg,
    transparent 120deg
  );
  position: absolute;
  width: 110%;
  height: 110%;
  z-index: 1;
} */

.jeopardy__score__text {
  margin: 0.5rem;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 800px;
  height: 600px;
}

td,
th {
  border: 3px solid black;
  padding: 0.5rem;
  text-align: left;
  font-size: 1rem;
}

.jeopardy__button {
  height: 100%;
  width: 100%;
  border: none;
  margin: 0%;
  padding: 0%;
  background-color: #00008b;
  color: #d7c458;
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
}

.jeopardy__title {
  text-align: center;
  font-size: 3rem;
  color: #d7c458;
  margin: 0.5rem;
}

.jeopardy__button:hover {
  background-color: blue;
}

.jeopardy__question {
  padding: 0;
}

.jeopardy__topic {
  color: white;
  text-align: center;
  font-size: 2rem;
  background: #a7a1c4;
}

.jeopardy__user__avatar {
  height: 5.6rem;
  margin: 0.8rem 2rem;
}

.jeopardy__board {
  margin-bottom: 3rem;
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer__text {
  color: #d7c458;
}

.jeopardy__user__name {
  color: #d7c458;
  margin: 0 0.2rem;
  text-align: center;
}

.main {
  border: 3px solid;
  /* display: flex;  */
}

.modal__Header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.modal__Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.mainFooter {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #00008b;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  height: 400px;
  color: #d7c458;
}

.modal__input {
  padding: 0.75rem;
  margin: 0.75rem;
  border-radius: 25px;
  outline: none;
}

.modal__button {
  margin: 0.75rem;
  padding: 0.75rem;
  background-color: #1c1a2b;
  color: #d7c458;
  border: none;
  outline: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
